.projects-page {
  padding: 50px;
  text-align: center;
}

.projects-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007bff;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
